@font-face{
	font-family: 'raleway';
	font-weight: 400;
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face{
	font-family: 'raleway';
	font-weight: 500;
	src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'raleway';
	font-weight: 600;
	src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face{
	font-family: 'raleway';
	font-weight: 700;
	src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
